panel_bg = "@BACKGROUND@"
bg_highlight = "@LIGHTER_BACKGROUND@"
fg_primary = "@BRIGHT_FOREGROUND@"
fg_secondary = "@FOREGROUND@"
fg_dim = "@DARK_FOREGROUND@"

diff_add = "@GREEN@"
diff_add_bg = "@DARK_BACKGROUND@"
diff_del = "@RED@"
diff_del_bg = "@DARK_BACKGROUND@"
diff_context = "@FOREGROUND@"
diff_hunk_header = "@BLUE@"
expanded_context_fg = "@DARK_FOREGROUND@"

syntax_add_bg = "@DARK_BACKGROUND@"
syntax_del_bg = "@DARK_BACKGROUND@"

file_added = "@GREEN@"
file_modified = "@YELLOW@"
file_deleted = "@RED@"
file_renamed = "@MAGENTA@"

reviewed = "@GREEN@"
pending = "@YELLOW@"

comment_note = "@BLUE@"
comment_suggestion = "@BRIGHT_CYAN@"
comment_issue = "@RED@"
comment_praise = "@GREEN@"

border_focused = "@ACCENT@"
border_unfocused = "@MUTED@"
status_bar_bg = "@DARKER_BACKGROUND@"
cursor_color = "@YELLOW@"
cursor_line_bg = "@SELECTION@"
branch_name = "@MAGENTA@"
help_indicator = "@DARK_FOREGROUND@"

message_info_fg = "@DARKER_BACKGROUND@"
message_info_bg = "@BLUE@"
message_warning_fg = "@DARKER_BACKGROUND@"
message_warning_bg = "@YELLOW@"
message_error_fg = "@DARKER_BACKGROUND@"
message_error_bg = "@RED@"
update_badge_fg = "@DARKER_BACKGROUND@"
update_badge_bg = "@YELLOW@"

mode_fg = "@DARKER_BACKGROUND@"
mode_bg = "@ACCENT@"
