# Shared mac-setup Tokyo Night palette. Superfile theme docs:
# https://superfile.dev/configure/custom-theme/

# Upstream Superfile's Tokyo Night theme uses this supported Chroma style.
code_syntax_highlight = "catppuccin-macchiato"

full_screen_fg = "@FOREGROUND@"
full_screen_bg = "@BACKGROUND@"
gradient_color = ["@BLUE@", "@BRIGHT_MAGENTA@"]
directory_icon_color = ""

file_panel_fg = "@FOREGROUND@"
file_panel_bg = "@BACKGROUND@"
file_panel_border = "@MUTED@"
file_panel_border_active = "@ACCENT@"
file_panel_top_directory_icon = "@GREEN@"
file_panel_top_path = "@BLUE@"
file_panel_item_selected_fg = "@SELECTION_FOREGROUND@"
file_panel_item_selected_bg = "@SELECTION_BACKGROUND@"

footer_fg = "@FOREGROUND@"
footer_bg = "@DARKER_BACKGROUND@"
footer_border = "@MUTED@"
footer_border_active = "@ACCENT@"

sidebar_fg = "@FOREGROUND@"
sidebar_bg = "@DARK_BACKGROUND@"
sidebar_title = "@CYAN@"
sidebar_border = "@DARK_BACKGROUND@"
sidebar_border_active = "@ACCENT@"
sidebar_item_selected_fg = "@SELECTION_FOREGROUND@"
sidebar_item_selected_bg = "@SELECTION_BACKGROUND@"
sidebar_divider = "@MUTED@"

modal_fg = "@FOREGROUND@"
modal_bg = "@DARK_BACKGROUND@"
modal_border_active = "@ACCENT@"
modal_cancel_fg = "@BACKGROUND@"
modal_cancel_bg = "@RED@"
modal_confirm_fg = "@BACKGROUND@"
modal_confirm_bg = "@GREEN@"

help_menu_hotkey = "@BRIGHT_CYAN@"
help_menu_title = "@BRIGHT_MAGENTA@"

cursor = "@YELLOW@"
correct = "@GREEN@"
error = "@RED@"
hint = "@CYAN@"
cancel = "@ORANGE@"
