return {
  {
    "folke/tokyonight.nvim",
    priority = 1000,
    opts = {
      styles = { comments = { italic = false } },
    },
  },
  {
    "LazyVim/LazyVim",
    opts = {
      colorscheme = "@NVIM_COLORSCHEME@",
    },
  },
}
