# Superfile config: https://superfile.dev/configure/superfile-config/
# Missing options use Superfile defaults.
editor = "nvim"
theme = "@THEME_NAME@"
code_previewer = "bat"
ignore_missing_fields = true
zoxide_support = true
